.home_page
{
	.home_icon
	{
		background-image: var(--logo-icon);
		background-size: contain;
		background-position: center;
		height: 150px;
		width: 150px;
	}

	.home_menu_button
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-md);

		width: 100%;
		height: 200px;
		border-radius: var(--radius-md);
		background-color: var(--color-primary);

		font-weight: bold;
		text-decoration: none;
		color: var(--color-primary-text);
		transition: all 0.2s ease-in-out;

		&:hover
		{
			transform: scale(0.95);
			background-color: var(--color-primary-light);
		}
	}
}
