.page_record
{
	.perfect
	{
		font-weight: bold;
		color: var(--color-success);
	}
	.imperfect
	{
		color: var(--color-error);
	}

	.record_answer:last-child
	{
		.record_answer_sep
		{
			display: none;
		}
	}
}
