@import "theme";
@import "ui";


//------------------------------------------------------------------------------
//	Page base.
//------------------------------------------------------------------------------
html
{
	height: 100%;
}

body
{
	min-height: 100vh;
	margin: 0;
}


//------------------------------------------------------------------------------
//	Main contents.
//------------------------------------------------------------------------------
.wrapper
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--color-bg);
	font-size: var(--fs-md);
	color: var(--color-text-primary);

	.inner
	{
		width: 100%;
		max-width: var(--panel-md);
		padding: var(--spacing-md);
		box-sizing: border-box;
	}
}

.header
{
	position: relative;

	.page_title
	{
		font-size: var(--fs-xl);
		font-wieght: bold;
		text-align: center;
	}

	.theme_toggle
	{
		position: absolute;
		top: var(--spacing-md);
		right: var(--spacing-md);
	}
}

.panel_quiz
{
}

.panel_answer
{
}
