@import "theme";
@import "common";
@import "ui";


//------------------------------------------------------------------------------
//	Page base.
//------------------------------------------------------------------------------
html
{
	height: 100%;
}

body
{
	min-height: 100vh;
	margin: 0;
}


//------------------------------------------------------------------------------
//	Main contents.
//------------------------------------------------------------------------------
.wrapper
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	background-color: var(--color-bg);
	font-size: var(--fs-md);
	color: var(--color-text-primary);

	.inner
	{
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-y: scroll;

		width: 100%;
		max-width: var(--panel-md);
		height: 80vh;
		max-height: 600px;
		margin: auto;
		padding: var(--spacing-xl) var(--spacing-md);
		box-sizing: border-box;
	}
}

.header
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--spacing-md);
}

.page_title
{
	font-size: var(--fs-xl);
	font-wieght: bold;
	text-align: center;
}

.quiz_panel
{
	.mask
	{
		color: var(--color-info);
		font-weight: bold;
	}
}
